<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Header...</p>
            <div class="list-group">
                <li class="list-group-item active">thing one</li>
                <li class="list-group-item">thing two</li>
                <li class="list-group-item">thing two</li>
            </div>
        </div>
        
        <div class="col-md-5">
            <div class="card bg-light">
                <img class="card-img-top" src="<%= book.img %>"></img>
                <div class="caption-full">
                    <h6 class="float-right">Checked out to SOMEONE</h4>
                    <h4> <a> <%= book.name %> </a> </h4>
                    <p><%= book.description %></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card-block">
                <p>
                    <a href="/books/<%= book.id %>/comments/new" class="btn btn-success">Add a new comment</a>
                </p>

                <% book.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="card-title"><%= comment.author %> <span class="float-right"> <strong> 10 days ago </strong> </span> </h6>
                            
                            <p class="card-text"> <%= comment.text %> </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        
    </div>
    
    
    
    
    

    <p> <a href="/books">Back to index</a> </p>
    <a href="/">go home</a>
</div>

<% include ../partials/footer %>